<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="p-4 w-100">
    <img src="assets/images/icon128.png" alt="logo" class="mx-auto d-block" height="128" width="128">
    <h1 class="text-center safekey-title">SafeKey</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="d-flex flex-column" >
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
          <mat-error *ngIf="hasError('email', 'email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="hasError('email', 'required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Proceed to Login</button>
      </form>
    <p class="text-center mt-4">
      New Around Here?
      <a [routerLink]="registerRoute" class="accent-blue-600">
        Register Now
      </a>
    </p>
  </div>
</div>

