.header-container {
  height: 44px;
  background-color: #3F51B5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .header-title {
    font-size: 20px;
    font-weight: 500;
    margin:0;
  }
}

.no-margin {
  margin: 0;
}

