<div class = "w-100">
  <div class="header-container">
      <button class="cancel-btn" routerLink="/home">Back</button>
      <h1 class = "header-title">Create Account</h1>
  </div>
  <form [formGroup] = "registerForm" (ngSubmit)="registerUser()" class = "d-flex flex-column p-2 mt-2">
    <mat-form-field class = "w-100">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="hasError('email', 'email')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="hasError('email', 'required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="warning-msg">
      <strong>Important:</strong> Your master password cannot be recovered if you forget it!
    </div>
    <mat-form-field class = "w-100">
      <mat-label>Master Password</mat-label>
      <input matInput  [type]="showPassword ? 'text' : 'password'"  formControlName="password">
      <mat-icon matSuffix matTooltip="Show/Hide" matTooltipPosition="above" (click)="togglePassword()">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="hasError('password', 'required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="hasError('password', 'strongPassword')">
        <span matTooltip="Password must be at least 12 characters long, including a combination of letters, special characters, and numbers.">Your current password is <strong>Too Weak</strong>.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Re-Type Master Password</mat-label>
      <input matInput [type]="showConfirmPassword ? 'text' : 'password'" formControlName = "confirmPassword">
      <mat-icon matSuffix matTooltip="Show/Hide" matTooltipPosition="above" (click)="toggleConfirmPassword()">{{showConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="hasError('confirmPassword', 'mustMatch')">
        Passwords do not match
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color = "primary" type="submit" class="mt-2" [disabled]="registerForm.invalid">Register your Account</button>
  </form>
</div>
