<div class="w-100">
  <main tabindex="-1">
    <div class="user-card">
        <div class="user-avatar">{{this.initial}}</div>
        <div class="email-details">
            <div>{{this.email}}</div>
            <div class="user-details">Active</div>
        </div>
    </div>
  <mat-card>
      <mat-card-content>
          <mat-card-title>Security Setting</mat-card-title>
          <mat-card-subtitle>Two Factor Authentication</mat-card-subtitle>
          <button mat-raised-button color="primary" (click)="openDialog()">Enable</button>

          <mat-card-subtitle>Vault Timeout</mat-card-subtitle>


      </mat-card-content>
  </mat-card>
    <button mat-fab extended color="primary" class="button" (click)="lock()"> <mat-icon>lock</mat-icon> Lock Now </button>
    <button mat-fab extended color="primary" class="button" (click)="logout()"> <mat-icon>logout</mat-icon> Log Out </button>
  </main>
</div>
