.user-card {
  margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #3F51B5;
  align-items: center;

  .user-avatar {
    width: 50px;
    height: 50px;
    background-color: #3F51B5;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 10px;
  }

  .email-details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .user-details {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.6);
  }
}

.settings .setting-panel {
  .mat-expansion-panel-header {
    padding: 0 16px;
  }
  .setting-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  .setting-title {
    font-size: 16px;
  }
}

.button {
  width: 95%;
  margin: 5px 10px;
  border-radius: 10px;
}
