.login-page{
  .logo-image {


  }
  .box{
    position:relative;
    width:100%;

    .box-content {
      background-color: #f0f0f0;
      border-color: #ddd;
    }

    .box-content-row {
      display:block;
      padding: 5px 10px;
      z-index:1;
      border-radius: 6px;
      margin: 3px 5px;
    }

    .label{

    }

    .remember-email-check {
      padding-top:18px;
      padding-left: 10px;
      padding-bottom: 18px;
    }
  }
  .createAccountLink {
    padding: 30px 10px;
  }
}
