<form (ngSubmit)="submit()" [formGroup]="formGroup">
  <header>
    <div class="left">
      <button type="button" routerLink="/home">Cancel</button>
    </div>
    <h1 class="center">
      <span class="title">Create Account</span>
    </h1>
    <div class="right">
      <button type="submit">
        <span>Submit</span>
        <i class="bwi bwi-spinner bwi-lg bwi-spin" aria-hidden="true"></i>
      </button>
    </div>
  </header>
  <main tabindex="-1">
    <div class="box">
      <div class="box-content">
        <div class="box-content-row" appBoxRow>
          <label for="email">Email Address</label>
          <input id="email" type="email" formControlName="email" appInputVerbatim="false" />
        </div>
        <div class="box-content-row" appBoxRow>
          <div class="box-content-row-flex">
            <div class="row-main">
              <label for="masterPassword">
                Master Password
                <!--<strong class="sub-label text-{{ color }}" *ngIf="text">
                  {{ text }}
                </strong>-->
              </label>
              <input
                id="masterPassword"
                type="{{ showPassword ? 'text' : 'password' }}"
                aria-describedby="masterPasswordHelp"
                class="monospaced"
                formControlName="masterPassword"
                appInputVerbatim
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                (click)="togglePassword()"
                [attr.aria-pressed]="showPassword"
              >
                <i
                  class="bwi bwi-lg"
                  aria-hidden="true"
                  [ngClass]="{ 'bwi-eye': !showPassword, 'bwi-eye-slash': showPassword }"
                ></i>
              </button>
            </div>
          </div>
          <!--<app-password-strength
            [password]="formGroup.get('masterPassword')?.value"
            [email]="formGroup.get('email')?.value"
            (passwordStrengthResult)="getStrengthResult($event)"
            (passwordScoreColor)="getPasswordScoreText($event)"
          >
          </app-password-strength>-->
        </div>
      </div>
      <div id="masterPasswordHelp" class="box-footer">
        <b>Important</b> Your master password cannot be recover if you forget it!
      </div>
    </div>
    <div class="box">
      <div class="box-content">
        <div class="box-content-row box-content-row-flex" appBoxRow>
          <div class="row-main">
            <label for="masterPasswordRetype">Re-type Master Password</label>
            <input
              id="masterPasswordRetype"
              type="{{ showPassword ? 'text' : 'password' }}"
              class="monospaced"
              formControlName="confirmMasterPassword"
              appInputVerbatim
            />
          </div>
          <div class="action-buttons">
            <button
              type="button"
              class="row-btn"
              appStopClick
              (click)="togglePassword()"
              [attr.aria-pressed]="showPassword"
            >
              <i
                class="bwi bwi-lg"
                aria-hidden="true"
                [ngClass]="{ 'bwi-eye': !showPassword, 'bwi-eye-slash': showPassword }"
              ></i>
            </button>
          </div>
        </div>
        <div class="box-content-row" appBoxRow>
          <label for="hint">Master Password Hint</label>
          <input id="hint" type="text" aria-describedby="hintHelp" formControlName="hint" />
        </div>
      </div>
      <div id="hintHelp" class="box-footer">
        A master password hint can help you to remember your password if you forget it.
      </div>
    </div>
  </main>
</form>
